* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/*====== GERAL =======*/
.hide {
  display: none;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.home p, .luck button {
  font-family: 'DM Sans', sans-serif;
}

body {
  background: linear-gradient(45deg, #190361, #bb00ff);
		animation: gradient 10s ease infinite;
    background-size: 200% 200%;;
  display: grid;
  place-items: center;
  height: 100vh;

  font-size: 1.5rem;
  line-height: 2rem;
  color: #34355B;
}

main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.8);
  border-radius: 5px;

  padding: 4.8rem 6.4rem;
  width: min(42.8rem, 90%);
  //margin-top: -12rem;
  color: #34355B;
  
}

/*====== HOME =======*/
.home h1 {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #34355B;
 
}


.home p {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;

  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #34355B;

  margin-top: 1.4rem;

}

.home img {
  height: 200px;
  margin-top: 2rem;
}

.home img:hover {
    animation: shakeCookie 500ms infinite;
    cursor: pointer;
}

/*====== SORTE =======*/

.luck h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #34355B;
}

.luck p {
  
  font-family: 'Dancing Script'; 
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;

  margin-top: 1.7rem;
  width: 29.3rem;
  min-height: 10rem;
  max-height: 50rem;
  //height: 107px;

  background: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);
  padding: 1rem;

}

.luck img {
  width: 100%;
  margin-top: 6rem;
}

.luck button {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #FF9500;
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;

  padding: 16px;
  width: 174px;
  height: 52px;
  margin-top: 6rem;
  margin: 6rem  auto 0;
  
  transition: background 0.3s;
}

.luck button:hover {
  background: #e48500;
  cursor: pointer;
}

#message {
    animation: msgAppering 2s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes shakeCookie {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes msgAppering {
    from {
        transform: translateY(15rem) scale(0);
    }

    to {
        transform: translateY(0px) scale(1);
    }
}

@media (max-width: 90rem) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .screen1 #findLuck {
        animation: shake 500ms infinite;
    }

}